snippet date
	`strftime("%Y-%m-%d")`
snippet ddate
	`strftime("%B %d, %Y")`
snippet diso
	`strftime("%Y-%m-%dT%H:%M:%S")`
snippet time
	`strftime("%H:%M")`
snippet datetime
	`strftime("%Y-%m-%d %H:%M")`
snippet todo
  TODO: `$USER` ~ ${0:${VISUAL}}
