snippet c
	\`\`\`${1}
	${0:${VISUAL}}
	\`\`\`

snippet ti
  <${1}>${0:${VISUAL}}</${1}>

snippet ta
  <${1}>
    ${0:${VISUAL}}
  </${1}>

snippet img
  <img align="${1:left}" width="${2:500}" height="${3:400}" alt="${4:image}" src="${0}">

snippet cimg
  <center>
    <img align="${1|left,right|}" width="${2:500}" height="${3:400}" alt="${4:image}" src="${0}">
  </center>
