snippet h
  #!/usr/bin/env python3
  """${1}

  Author: Jose Lima
    Date: `strftime("%Y-%m-%d %H:%M")` CST

  ${2:${VISUAL}}

  """
  ${0}

snippet d
  import pdb;pdb.set_trace()

snippet rd
  import rpdb;rpdb.set_trace()
