snippet h "header" w
  #!/usr/bin/env python3
  """${1}

  Author: Jose Lima
    Date: `strftime("%Y-%m-%d %H:%M")` CST

  ${2:${VISUAL}}

  """
  ${0}

snippet d "debug" w
  import pdb;pdb.set_trace()

snippet rd "remote debug" w
  import rpdb;rpdb.set_trace()

snippet filter "ansible filter" w
  def ${1}(${2}):
    ${0}
    return


  class FilterModule:
    def filters(self):
      return {"${1}": ${1}}
