extends jinja

priority 1000

snippet h "header" b
  ---
  #  Author:  Jose Lima (`getenv('USER')`)
  #  Date:    `strftime("%Y-%m-%d %H:%M")`

  - name: "${1}"
    hosts: ${2:localhost}
    gather_facts: false

    tasks:
      - name: ${0}

snippet debug "debug task" b
    ansible.builtin.debug:
      msg: |
            ${0}
