snippet h
  ---
  # Author: Jose Lima
  #   Date: `strftime("%Y-%m-%d %H:%M")` CST

  - name: "${1}"
    hosts: ${2:localhost}
    gather_facts: false

    tasks:
      - name: "${0}"

snippet debug
  - name: "${1/.*/\U&/g}"
    ansible.builtin.debug:
      msg: |
        ${0}

