extends jinja

priority 1000

snippet h "header" b
  ---
  # Author:  Jose Lima (`getenv('USER')`)
  # Date:    `strftime("%Y-%m-%d %H:%M")`

  - name: "${1}"
    hosts: ${2:localhost}
    gather_facts: false

    tasks:
      ${0}

snippet debug "debug task"
    ansible.builtin.debug:
      msg: |
       ${0}

snippet shell "debug task"
      ansible.builtin.shell: ${0}

snippet command "debug task"
      ansible.builtin.command: ${0}
