# basic gitignore

__pycache__/
venv/
build/
main
.dbg_history
.pytest_cache/
fact_cache/
.DS_Store
.virtualenvs
.vim
.netrwhist
.db


.env
env
tags
1.cfg
2.cfg
3.cfg
4.cfg
*.log
vtags
*.pyc
*.egg-info/
*.cache
priv/
vault.key
my_creds.py
profile.log
lazy-lock.json

ipython/*
!ipython/profile_default/ipython_config.py
!ipython/profile_default/startup/custom.py
