# basic gitignore

__pycache__/
venv/
build/

ipython/
logs/
.pytest_cache/
.DS_Store
.luac
.yarn.lock
.yarn-integrity
.virtualenvs
.vim
.crt
.netrwhist
tags
vtags
.vtags
.tags
*.pyc
*.egg-info/
*.cache
history.sqlite
priv/
vault.key
my_creds.py
# ~formatting_*
profile.log
packer_compiled.lua
nvim/lazy-lock.json
