# basic gitignore

__pycache__/
venv/
build/

.pytest_cache/
.DS_Store
.virtualenvs
.vim
.netrwhist

tags
1.cfg
2.cfg
3.cfg
4.cfg
*.log
vtags
*.pyc
*.egg-info/
*.cache
priv/
vault.key
my_creds.py
profile.log
lazy-lock.json
