black==23.7.0
click==8.1.6
docopt==0.6.2
iniconfig==2.0.0
mypy-extensions==1.0.0
nodeenv==1.8.0
packaging==23.1
pathspec==0.11.2
platformdirs==3.10.0
pluggy==1.2.0
prompt-toolkit==3.0.39
pyflakes==3.1.0
Pygments==2.16.1
pyright==1.1.322
pytest==7.4.0
PyYAML==6.0.1
six==1.16.0
wcwidth==0.2.6
yamllint==1.32.0
