.avatar {
  width: 5rem;
  height: 5rem;
  background-color: gold;
  float: left;
  margin-right: 0.5rem;
}

.tweet {
  border: 3px solid lightgrey;
}

/* use pseudo element to dynamically solve overlapping issues */
.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

.clear {
  clear: both;
}
