body {
  margin: 10px;
}
em {
  color: orange;
}

/* any target */
a[target] {
  color: steelblue;
}

/* any target called _blank */
a[target="_blank"] {
  color: green;
}

/* any target that starts with https */
a[target^="https"] {
  color: green;
}

/* any target that contains google in the name */
/* e.g. http://google.com google.com/test/test */

a[target^="google"] {
  color: green;
}

#products p {
  color: red;
}

/* .new_class this would apply to any element */
.new_class {
  color: purple;
  font-size: 120%;
}

section :last-child {
  font-weight: bold;
}
/* nth-child can be inspected in browser to figure out some of its
 parameters, odd, even etc 
 */
ul li:nth-child(odd) {
  color: deeppink;
}

/* change the color of visited pages 
and all anchors that are links
 */

a:visited,
a:link {
  color: dodgerblue;
}

/* change the color of the anchor when hovering with mouse */
/* hover affects mouse, focus affects keyboard navigation */
a:hover,
a:focus {
  color: green;
}

/* this is how to do it manually, but we should use a pseudo element */
.first-letter {
  font-size: 140%;
  font-weight: bold;
}
