.container {
  display: flex;
  flex-direction: column;
  white-space: normal;
  align-self: center;
}

.box {
  background: gold;
  padding: 1rem;
}

.box:nth-of-type(2) {
  background: dodgerblue;
}

/* can use multiple conditions */
@media screen and (min-width: 520px) and (max-width: 900px) {
  .container {
    flex-direction: row;
  }
  .box {
    white-space: normal;
  }
}
